
$page-font-family: "Helvetica Neue", Arial, sans-serif;
$page-font-size: 16px;
$article-font-size: 20px;

$h1-size: 40px !default;
$h2-size: 32px !default;
$h4-size: 20px !default;
$h6-size: 12px !default;


// Default border color
$border-color: #000 !default;

// Container width
$container-width: 64em;

// Breakpoint
$breakpoint-lg: 40em;
